<div class="container mt-5">

    <div style="display: flex;justify-content: space-between;">
        <h2>Liste des administrateurs</h2>
        <button [routerLink]="['/dashboard/admin/ajout']"  class="btn btn-primary"> Ajouter </button>
    </div>

    <div class="row mt-2">
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Adresse</th>
                    <th>Téléphone</th>
                    <th>Email</th>
                    <th>Poste</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Boucle sur les administrateurs et affichage des données -->
                <tr *ngFor="let admin of admins">
                    <td>{{ admin.name }}</td>
                    <td>{{ admin.prenom }}</td>
                    <td>{{ admin.adresse }}</td>
                    <td>{{ admin.telephone }}</td>
                    <td>{{ admin.email }}</td>
                    <td>{{ admin.poste }}</td>
                    <td>
                      <button (click)="delete(admin._id)" class="btn btn-danger text-dark m-1">
                        <i class="fas fa-trash-alt"></i> <!-- Icône de corbeille -->
                        <span class="ml-2">Supprimer</span> <!-- Texte d'indication -->
                      </button>
                       
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
