<div class="container mt-5">
    <div style="display: flex;justify-content: space-between;">
        <h2>Liste des commandes</h2>
    </div>
    <div class="row mt-2">
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Adresse</th>
                    <th>Produits</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th>Date de commande</th>
                    <th>Date de livraison</th>
                    <th>Livrée</th>
                    <th>Acceptée</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let commande of commandes">
                    <td>{{ commande.user }}</td> 
                    <td>{{ commande.prenom }}</td> 
                    <td>{{ commande.emailUser }}</td>
                    <td>{{ commande.usertel }}</td>
                    <td>{{ commande.useraddresse }}</td>
                    <td>
                        <ng-container *ngFor="let produit of commande.produits">
                            <div>{{ produit.nomProduit }}</div>
                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngFor="let produit of commande.produits">
                            <div>{{ produit.quantite }}</div>
                        </ng-container>
                    </td>
                    <td>{{ commande.total }}</td>
                    <td>{{ commande.date | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ commande.dateLivraison ? (commande.dateLivraison | date: 'dd/MM/yyyy') : 'Non livrée' }}</td>
                    <td>{{ commande.livree ? 'Oui' : 'Non' }}</td>
                    <td>{{ commande.accepte ? 'Oui' : 'Non' }}</td>
                    <td>
                        <button *ngIf="!commande.accepte" (click)="accepterCommande(commande.id)" class="btn btn-success">
                            Accepter la commande
                        </button>
                        <!-- Ajouter d'autres boutons d'action si nécessaire -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
