<!-- Left Sidebar Start -->
<div class="leftside-menu" style="padding-top: 30px;" >

<div class="leftside-menu" style="padding-top: 30px;">

    <!-- LOGO -->
    <a href="index.html" class="logo text-center logo-light">
        <span class="logo-lg mt-3">
            <h1 class="text-white">Navapeint</h1>
        </span>
        
    </a>

    <div class="h-100 mt-5" id="leftside-menu-container" data-simplebar>

        <!--- Sidemenu -->
        <ul class="side-nav mt-5">

         

            <!-- Gestion des catégories -->
            <li class="side-nav-item mb-2 mt-3" style="margin-left: 20px;">
                <a [routerLink]="['/categorie/list']">
                    <i class="uil-users"></i>
                    <span class="text-white font-weight-bold" style="font-size: 18px;">Gestion des catégories</span>
                </a>
            </li>
            
            <!-- Gestion des produits -->
            <li class="side-nav-item mb-2  mt-3" style="margin-left: 20px;">
                <a [routerLink]="['/dashboard/produit/list']">
                    <i class="uil-users"></i>
                    <span class="text-white font-weight-bold" style="font-size: 18px;">Gestion des produits</span>
                </a>
            </li>

            <!-- Gestion des couleurs -->
            <li class="side-nav-item mb-2  mt-3" style="margin-left: 20px;">
                <a [routerLink]="['/dashboard/couleur/list']">
                    <i class="uil-users"></i>
                    <span class="text-white font-weight-bold" style="font-size: 18px;">Gestion des couleurs</span>
                </a>
            </li>

            <!-- Gestion des admins -->
            <li class="side-nav-item mb-2  mt-3" style="margin-left: 20px;">
                <a [routerLink]="['/dashboard/admin/list']">
                    <i class="uil-users"></i>
                    <span class="text-white font-weight-bold" style="font-size: 18px;">Gestion des admins</span>
                </a>
            </li>

            <!-- Gestion des livreurs -->
            <li class="side-nav-item mb-2  mt-3" style="margin-left: 20px;">
                <a [routerLink]="['/dashboard/livreur/list']">
                    <i class="uil-users"></i>
                    <span class="text-white font-weight-bold" style="font-size: 18px;">Gestion des livreurs</span>
                </a>
            </li>

            <!-- Statistiques -->
            <li class="side-nav-item mb-2  mt-3" style="margin-left: 20px;">
                <a href="#">
                    <i class="uil-users"></i>
                    <span class="text-white font-weight-bold" style="font-size: 18px;">Statistiques</span>
                </a>
            </li>

       
            <li class="side-nav-item mb-2  mt-3" style="margin-left: 20px;">
                <a [routerLink]="['/dashboard/commande/list']">
                    <i class="uil-users"></i>
                    <span class="text-white font-weight-bold" style="font-size: 18px;">Commandes</span>
                </a>
            </li>
            <li class="side-nav-item mb-2  mt-3" style="margin-left: 20px;">
                <a [routerLink]="['/dashboard/commandecouleur/list']">
                    <i class="uil-users"></i>
                    <span class="text-white font-weight-bold" style="font-size: 18px;">commande couleur</span>
                </a>
            </li>
           
              <li class="side-nav-item mb-2  mt-3" style="margin-left: 20px;">
                <a [routerLink]="['/dashboard/feedback/list']">
                    <i class="uil-users"></i>
                    <span class="text-white font-weight-bold" style="font-size: 18px;">Feedback</span>
                </a>
            </li>
             
              <li class="side-nav-item mb-2  mt-3" style="margin-left: 20px;">
                <a [routerLink]="['/dashboard/promotion/list']">
                    <i class="uil-users"></i>
                    <span class="text-white font-weight-bold" style="font-size: 18px;">Promotion</span>
                </a>
            </li>
        </ul>


    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->
